.info
  min-width: 80px
  height: 40px
  //position: relative
  margin-right: 136px
  display: flex
  justify-content: space-between
  align-items: center
  &:hover
    cursor: pointer

  .infoName
    display: flex
    align-items: center
    height: 40px
    font-weight: 500
    font-size: 16px
    line-height: 24px

  .infoAvatar
    width: 40px
    height: 40px
    padding-left: 10px
    .imgUserAvatar
      max-width: 40px
      border-radius: 100%

.menuContainer
  position: absolute
  display: block
  width: 122px
  height: 104px
  top: 55px
  left: 1222px
  border: 1px solid #CFCFCF
  border-radius: 3px
  background-color: #ffffff
  cursor: pointer
  z-index: 2
  //& :before
  //  content: ''
  //  width: 5px
  //  height: 5px
  //  top: -3px
  //  left: 87px
  //  transform: rotate(45deg)
  //  border: 1px solid #CFCFCF
  //  background-color: #ffffff
  //  position: absolute
  //& :after
  //  content: ''
  //  position: absolute
  //  width: 10px
  //  height: 6px
  //  top: 0px
  //  left: 85px
  //  background-color: #ffffff
  .menuProfile
    width: 122px
    height: 52px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      background-color: #EFEFEF

  .menuLogOut
    width: 122px
    height: 52px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      background-color: #EFEFEF

  img
    width: 16px
    height: 16px
    margin-right: 10px